{% extends 'base.html' %}


{% block title %}
Список каналов - YouTube
{% endblock %}

{% block content %}
<div class="channels__list container">
  {% for channel in subscriptions %}
  <div class="channels__list-item">
    <a href="{% url 'channel-detail' slug=channel.channel.slug %}" class="channels__list-item-link"></a>
    <div class="channels__list-item-avatar">
      <img src="{{channel.channel.avatar.url}}" alt="">
    </div>
    <div class="channels__list-item-info">
      <h2 class="channels__list-item-title">{{channel.channel.title}}</h2>
      <div class="channels__list-item-stats">{{channel.channel.subscribers}} подписчиков •
        {{channel.channel.videos.count}} видео</div>
      <p class="channels__list-item-description">{{channel.channel.description|truncatewords:24}}</p>
    </div>
    <div class="channels__list-item-buttons channel__header-right active">
      <a href="" class="channel__header-subscribe">Вы подписаны</a>
      <div class="channel__header-notifications">
        <button class="header__round-button">
          <svg viewBox="0 0 24 24">
            <path
              d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z"
              fill='#909090'>
            </path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}