{% extends 'channels/detail.html' %}


{% block channel__inner %}

<div class="channel__playlists">
  {% if playlists %}
  <div class="channel__playlists-header"></div>

  <div class="channel__playlists-list">
    {% for playlist in playlists %}
    <div class="channel__playlist">
      <a href="" class="channel__playlist-link"></a>
      <div class="channel__playlist-header">
        <img src="{{playlist.videos.all.first.preview.url}}" alt="Playlist Image" class="channel__playlist-img">
        <div class="channel__playlist-play">
          <svg viewBox="0 0 24 24" width='24px'>
            <path d="M8 5v14l11-7z" fill='#fff'></path>
            <span>Воспроизвести все</span>
          </svg>
        </div>
        <div class="channel__playlist-count">
          <span>{{playlist.videos.count}}</span>
          <svg viewBox="0 0 24 24" width='24px'>
            <path
              d="M3.67 8.67h14V11h-14V8.67zm0-4.67h14v2.33h-14V4zm0 9.33H13v2.34H3.67v-2.34zm11.66 0v7l5.84-3.5-5.84-3.5z"
              fill='#fff'></path>
          </svg>
        </div>
      </div>
      <div class="channel__playlist-info">
        <h2 class="channel__playlist-title">{{playlist.title}}</h2>
        <a href="{% url 'playlist-detail' slug=playlist.slug %}" class="channel__playlist-full">Посмотреть весь
          плейлист</a>
      </div>
    </div>
    {% endfor %}
  </div>



  {% else %}
  <div class="channel__playlists-empty">
    <p>На этом канале нет плейлистов.</p>
  </div>
  {% endif %}
</div>

{% endblock %}