{% extends 'channels/detail.html' %}


{% block channel__inner %}
<div class="channel__videos">
  {% if videos %}
  <div class="channel__videos-header">

  </div>
  <div class="channel__videos-list">
    {% for video in videos %}
    <div class="channel__video">
      <a href="{% url 'video-detail' slug=video.slug %}" class="video__link"></a>
      <div class="channel__video-img">
        <img src="{{video.preview.url}}" alt="">
        <a href="" class="video__img-later">
          <svg viewBox="0 0 24 24">
            <path
              d="M12 3.67c-4.58 0-8.33 3.75-8.33 8.33s3.75 8.33 8.33 8.33 8.33-3.75 8.33-8.33S16.58 3.67 12 3.67zm3.5 11.83l-4.33-2.67v-5h1.25v4.34l3.75 2.25-.67 1.08z"
              fill='white'></path>
          </svg>
        </a>
        <a href="" class="video__img-queue">
          <svg viewBox="0 0 24 24">
            <path
              d="M9,10 L18,10 L18,12 L9,12 L9,10 Z M6,6 L18,6 L18,8 L6,8 L6,6 Z M12,14 L18,14 L18,16 L12,16 L12,14 Z M6,12 L6,18 L10,15 L6,12 Z"
              fill='white'></path>
          </svg>
        </a>
        <span class="video__img-time">48:15</span>
      </div>
      <div class="channel__video-info">
        <h2 class="channel__video-title">{{video.title}}</h2>
        <p class="channel__video-stats">{{video.views}} просмотров &middot; {{video.created|timesince}} назад</p>
        <div class="channel__video-more">
          <button class="header__round-button">
            <svg viewBox="0 0 24 24">
              <path
                d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                fill='#909090'></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="channel__videos-empty">
    <p>На этом канале нет видео.</p>
  </div>
  {% endif %}
</div>
{% endblock %}